table {
  table-layout: fixed;
  width: 750px;
  height: 750px;
  border:0px;
}

table tr {
  border: 0px;
}

table tr td {
  border: 1px solid black;
  width: 75px;
  height: 75px;
  padding:0px;
  margin:0px;
  text-align: center; 
  vertical-align: middle;
}

td.wall {
  background-color: #555;
}

p {
  text-transform: capitalize;
  margin:0px;
  
}

p.dead {
  text-decoration: line-through;
}

p.hero {
  color: green;
  font-weight: bolder;
}

p.enemy {
  color: red;
}



form {
  display: inline;
}