<section class="phx-hero">
  <h1>Welcome to Mmo Game</h1>
  <p>Write your name to start</p>
  <%= form_tag(Routes.hero_path(@conn, :create), method: :post) do %>
  <%= text_input :hero, :name, value: "" %> 

  <%= submit "start" %>
<% end %>
</section>